@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

body {
  font-family: "Roboto" , sans-serif;
  text-decoration-color: #f0f0ff;

}

label {
  font-size: 0.7rem
}
input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

textarea.form-control,
textarea.form-control:focus{
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}